<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOR</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>

    <style>
      body {
        padding: 40px;
      }
    </style>

  </head>

  <body>
    <div class="container">
      <p>
        To Whom It May Concern:
      </p>
      <p>
        As <%=designation%> of <%=school%>
        I am delighted to recommend to you a stellar member of our teaching staff,
        Mr. <%=name%>, and to write this letter on his behalf. <%=name%> has taught <%=subject%> at the school for
        <%=period%>
        years. He is one of our most popular and effective instructors and has
        already won several teaching awards.
      </p>
      <p>
        He came to us directly upon completion of
        his <%=degree%> degree, but immediately settled in as if an old pro. <%=name%>
        is a master of all of the ingredients of successful teaching, especially
        the ability to inspire.
      </p>
      <p>
        This gentleman is highly professional in
        both dress and demeanor. To my knowledge <%=name%> has never come to work
        without both a suit and tie, more times than not a bow tie. The majority
        of others at the school, both teachers and students, dress differently and
        lean to more informality. Never once, however, has <%=name%>’s manner of dress
        elicited the slightest comment. Why? It is simply because <%=name%>’s attire
        seems entirely natural given his dignified comportment.
      </p>
      <p>
        That comportment in turn is driven by <%=name%>’s
        love and respect for American History. <%=name%> views himself as the messenger
        for something serious and important, and this is reflected in the way he
        teaches and in the way his students respond.
      </p>
      <p>
        Reaction to <%=name%>’s classes has been
        overwhelmingly positive. So much so that more than once it has been
        reported to me that study hall students have been spotted lingering
        outside the door to <%=name%>’s classroom listening to his lessons.
      </p>
      <p>
        <%=name%>’s impact has even been felt outside
        the school with the parents themselves. His section on the importance of
        voting has inspired students to cajole their parents to register to vote.
        Several have mentioned this to me at parent-teacher meetings. One even
        called the school to have me pass on their thanks to Mr. <%=name%>.
      </p>
      <p>
        The only thing that we in the school
        administration have ever worried about in regard to <%=name%> is the prospect of funding his
        bottled water. <%=name%> is such a passionate and prolific speaker that he needs
        a steady supply to maintain his voice. So far we have gotten a pass on
        this, as students have bought it for him, including what must have been a
        year’s supply on his last birthday.
      </p>
      <p>
        It will be a sad day when we announce
        that <%=name%> will be pursuing his graduate degree on a fulltime basis. We can
        only hope that he keeps his promise and returns to us as soon as the ink
        is dry on his new diploma.
      </p>
      <p>
        Sincerely,
      </p>
      <p>
        <%=writer%><br><%=designation%><br><%=school%>
      </p>
    </div>

    <script>
      $("p").attr("contentEditable", "true");
    </script>
  </body>

</html>